<div class="ninth-section">
  <div class="container nine-co">
    <div class="nine ro">
      <div *ngFor="let data of customer">
        <h1 class="text-h1">{{data.title}}</h1>
        <p class="text-p">{{data.description}}</p>
        <!-- Bharat Mats is the industry's one of the most celebrated mats.This is not what we say, our customers feel this way- -->
      </div>

      <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row carousel-ro-1">
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row carousel-ro-1">
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row carousel-ro-1">
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 coarousel-col-1">
                  <div class="review-container">
                    <div class="review">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit. In possimus voluptate ducimus dicta id
                      cum qui laborum perferendis suscipit? Tempora natus magni dolor nemo dolore iusto provident
                      voluptate culpa dolores!
                    </div>
                    <div class="review-holder-image">
                      <img src="../../../assets/images/home_images/Image.png" alt="">
                    </div>
                    <div class="review-holder">
                      Simran Saini
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

      <!-- <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig" >
        <div class="review-container" *ngFor="let review of reviews index as i" ngxSlickItem class="slide">
          <div class="review d-none d-lg-block d-xl-block ">
              {{ review?.description | shortenLength:100 }}
            <div class="review-holder-image">
              <img src="{{ apiUrl+review.image }}" alt="">
            </div>
          </div>
          <div class="review d-none d-md-block d-lg-none">
            {{ review?.description | shortenLength:50 }}
            <div class="review-holder-image">
              <img src="{{ apiUrl+review.image }}" alt="">
            </div>
          </div>
          <div class="review d-block d-sm-none">
            {{ review?.description | shortenLength:70 }}
            <div class="review-holder-image">
              <img src="{{ apiUrl+review.image }}" alt="">
            </div>
          </div> 
          <div class="review-holder">
            {{ review.name }}
          </div>
        </div>
      </ngx-slick-carousel> -->
    </div>
  </div>
