<div class="order-placed-section">
  <div class="card">
    <div class="d-flex mt-3 justify-content-center">
      <h1 class="new-black-text ">Your order has been received</h1>
    </div>
    <img src="./imgs/Checkmark.png" alt="">
    <span>Thank You For Your Purchase !</span>
    <p class="text-p">Your order Id : {{OrderId}}</p>
    <p class="text-p2">You will receive an order confirmation email with details of your order</p>
    <button class="bhrt-btn btn" (click)="openTrackOrderPage()">TRACK YOUR ORDER</button>
  </div>
</div>